# Postgres vars
POSTGRES_DB=gleamapp
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123

# Squirrel/Cigogne vars
PGHOST="db"
PGUSER=${POSTGRES_USER}
PGDATABASE=${POSTGRES_DB}
PGPASSWORD=${POSTGRES_PASSWORD}
PGPORT=5432

# Server vars
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${PGHOST}:${PGPORT}/${POSTGRES_DB}"
